name: Deploy to Firebase Hosting on PR
'on': pull_request
jobs:
  build_and_preview:
    permissions:
      checks: write
      contents: read
      pull-requests: write
    if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm ci && npm run build
      - uses: FirebaseExtended/action-hosting-deploy@v0.10.0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_GALLERY_ACCESS_LOGIN }}'
          projectId: gallery-access-login
